.tableContainer {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.table {
  background: #fff;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table thead tr {
  background-color: #ebebeb;
}

.table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}
